################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# build output
**/obj
**/bin

# visual studio files
.vs/
